---
layout: default
title: Portfolio
description:
---
<div class="container">
  <div class="page-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.projects__settings.projects__title }}{% endif %}</h1>
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% else site.data.settings.projects__settings.projects__description %}
      <p class="page-description">{{ site.data.settings.projects__settings.projects__description }}</p>
    {% endif %}
  </div>
</div>

<div class="projects-page container animate">
  <div class="row">
    {% for project in site.projects reversed %}
      <article class="project col col-4 col-d-6 col-t-12">
        <div class="project__content">
          <a href="{{ project.url }}" class="project__image">
            <img class="lazy" data-src="{{ project.image }}" alt="{{ project.title }}">
          </a>
          <div class="project__info">
            <h3 class="project__title"><a href="{{ project.url }}">{{ project.title }}</a></h3>
            {% if project.subtitle %}
            <div class="project__subtitle">{{ project.subtitle }}</div>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>