<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <div class="hero__image">
              <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
            </div>
          </div>

          <div class="hero__right">
            <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
            <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>

            <div class="social">
              <ul class="social__list list-reset">
                {% for social in site.data.settings.social %}
                <li class="social__item">
                  <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener"
                    aria-label="Social link"><i class="ion {{social.icon}}"></i></a>
                </li>
                {% endfor %}
              </ul>
            </div>
            
            {% if site.data.settings.mailchimp == "enable" %}
            <div class="hero__subscribe">
              <form class="subscribe-form validate"
                action="{% if site.data.settings.mailchimp__identifier %}//{{site.data.settings.mailchimp__identifier}}{% else %}#{% endif %}" method="POST"
                id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
                <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                  placeholder="{% if site.data.settings.mailchimp__input__text %}{{ site.data.settings.mailchimp__input__text }}{% else %}Email address{% endif %}">
                <button class="button button--primary button--small subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{
                  site.data.settings.mailchimp__button__text }}</button>
              </form>
            </div>
            {% else %}
            <br>
            <p class="hero__description">
              <a href='/contact' class="button button--primary button--small subscribe-button" id="membedded-subscribe">
                {{site.data.settings.mailchimp__button__text }}
              </a>
            </p>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
